<% content_for :body_content_title do %>
  <%= @item.title %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Title</h1>
    <p>
      <%= @item.title %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="town_story_articles">
      <% @items.each do |item| %>
        <li>
          <%= link_to item.title, refinery.town_story_articles_town_story_article_path(item) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
