<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(town_story) -%>">
  <span class='title'>
    <%= town_story.dummy %>
    <span class="preview">&nbsp;</span>
  </span>
  <span class='actions'>
    <%= link_to refinery_icon_tag("application_go.png"), town_story_path(town_story),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    <%= link_to refinery_icon_tag("application_edit.png"), edit_admin_town_story_path(town_story),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), admin_town_story_path(town_story),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'shared.admin.delete', :title => town_story.dummy),
        :method => :delete %>
  </span>
</li>
